/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.opac03{
    opacity: 0.3;
}

/* .opac1{
    opacity:1;
} */

.categoryBody{
    overflow: hidden !important;
}

table{
    position: relative;
}
.option{
    position: absolute;
    top:41px;
    left:0;
}

.main1{
    width: 80%;
    margin-left: 240px;
}

.pfont{
    font-size: 13px !important;
}

.row{
    margin-left: 240px !important;
}

.iconleft
{
    margin-left: 80px;
}

.main {
    margin-left: -30px;
    padding-right: 40px;
}

.currentcolor{
    color:#b93632 !important;
} 

.bottom{
    margin-bottom: 0px !important;
    margin-top: 50px !important;
}

.moveLeft{
    margin-left: 238px !important;
}

.subleft{
    margin-left: 42px;
}

.tcenter{
    margin-left: 35px;
}

#uniq,
#uniq:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
#uniq:hover
{
    color: #b93632 !important;
    text-decoration: none;
    background: #1e1e1e !important;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #1e1e1e;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 240px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    background: #1e1e1e !important;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}


.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: red(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  margin-bottom: 50px;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}



#sidebar ul p {
    color: white;
    padding: 10px;
    border-left: 5px solid #b93632;
    padding-left: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    line-height: 40px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #e7e8ee;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background: #1e1e1e;
}





ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1e1e1e;
}





